<section class="hidden md:block relative bg-slate-900">
  <div class="w-full flex items-center py-1.5 overflow-hidden">
    <!-- Elementos -->
    <div
      class="flex-1 flex items-center justify-center border-r border-gray-600"
      id="element1"
    >
      <div class="mr-4">
        <img
          class="max-w-8 h-8"
          src="/assets/icons/camion_express.png"
          aria-hidden="true"
          alt="Envío gratis"
        />
      </div>
      <div class="text-customVerde flex flex-col">
        <p class="">Envío gratis en cada pedido</p>
        <p>Oferta por tiempo limitado</p>
      </div>
    </div>
    <div
      class="hidden sm:flex-1 sm:flex items-center justify-center border-r border-gray-600"
      id="element2"
    >
      <div class="mr-4">
        <img
          class="max-w-8 h-8"
          src="/assets/icons/paquete.png"
          aria-hidden="true"
          alt="Devoluciones gratis"
        />
      </div>
      <div class="text-customAmarillo flex flex-col">
        <p>Devoluciones gratis</p>
        <p>En un plazo de 90 días</p>
      </div>
    </div>
    <div
      class="hidden md:flex-1 md:flex items-center justify-center"
      id="element3"
    >
      <div class="mr-4">
        <img
          class="max-w-8 h-8"
          src="/assets/icons/dinero.png"
          aria-hidden="true"
          alt="Ajuste de precios"
        />
      </div>
      <div class="text-customAmarillo flex flex-col">
        <p>Ajuste de precios</p>
        <p>En un plazo de 30 días</p>
      </div>
    </div>
  </div>
</section>